@import '../../styles/variables';

.course {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;

  min-width: 177px;
  min-height: 210px;

  background: $color-display;
  box-shadow: 0px 10px 13px -4px $color-shadow;
  border-radius: 0 0 18px 18px;

  color: $color-text;

  cursor: pointer;
  transition: $transition-color, $transition-transform;
  will-change: transform;

  &__picture {
    border-radius: 18px 18px 0 0;

    padding: 9px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    width: 144px;
    height: 144px;
    display: block;
  }

  &__name {
    align-self: flex-start;
    padding: 12px 18px 18px;

    font: $font;
  }

  &:hover {
    transform: scale(1.02);
    color: lighten($color-primary, $change);
  }
}
