$color-primary: #5fbf77;
$color-display: #ffffff;
$color-text: #39414b;
$color-additional: #cfcfe4;
$color-shadow: #23235f30;

$font:
  800 18px/18px 'Nunito',
  sans-serif;

$change: 15%;

$transition-color: color 0.2s ease-in;
$transition-transform: transform 0.2s ease-in;
