$color-primary: #5FBF77;
$color-display: #FFFFFF;
$color-text: #39414B;
$color-additional: #CFCFE4;
$color-shadow: #23235f30;

$font: 800 18px/18px "Nunito", sans-serif;

$change: 15%;

$transition-color: color 0.2s ease-in;
$transition-transform: transform 0.2s ease-in;
